<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
	title monk-ionic-seed
	//bower:css
	//endinject
	//build:cssBundle
	//endbuild
body(ng-app="monk-ionic-seed", ng-strict-di, ng-cloak)
	ui-view(layout="row" flex)
	//bower:js
	//endinject
	//build:templateCache
	//endbuild
	//build:jsBundle
	//endbuild